# Assignment 4 Questions

## Problem Statement

Q.1 Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:

The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below

    i 1 2 3 4 5 6 7 8 9 10
    ===== == == == == == == == == == ==
    Input 10 20 30 40 50 60 70 80 90 100
    y1 25 = (10+20+30+40)/4
    y2 35 = (20+30+40+50)/4
    y3 45 = (30+40+50+60)/4
    y4 55 = (40+50+60+70)/4
    y5 65 = (50+60+70+80)/4
    y6 75 = (60+70+80+90)/4
    y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.

Write a function to find moving average in an array over a window:

Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [83]:
import numpy as np
input = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]

def moving_average(input, window):
    weights = np.repeat(1.0, window)/window
    smas = np.convolve(input,weights, 'valid')
    return smas
    
    
print(moving_average(input,3))

[  5.           4.66666667   5.66666667   6.66666667   9.66666667
  28.66666667  49.33333333  72.66666667  84.          93.33333333
 116.33333333]

Q.2 How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
    
    import pandas as pd
    df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [47]:
import pandas as pd

s = pd.Series([7, 2, 0, 3, 4, 2, 5, 0, 3, 4])

(s.groupby(s.eq(0).cumsum().mask(s.eq(0))).cumcount() + 1).mask(s.eq(0), 0).tolist()

[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]

Q.3 Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [26]:
import datetime

date = datetime.datetime.now()
date

datetime.datetime(2020, 2, 18, 14, 3, 37, 726968)

In [42]:
date = pd.date_range('2015-01-01', '2015-12-31')
series = pd.Series(range(365), index= date)
print(series)

2015-01-01      0
2015-01-02      1
2015-01-03      2
2015-01-04      3
2015-01-05      4
2015-01-06      5
2015-01-07      6
2015-01-08      7
2015-01-09      8
2015-01-10      9
2015-01-11     10
2015-01-12     11
2015-01-13     12
2015-01-14     13
2015-01-15     14
2015-01-16     15
2015-01-17     16
2015-01-18     17
2015-01-19     18
2015-01-20     19
2015-01-21     20
2015-01-22     21
2015-01-23     22
2015-01-24     23
2015-01-25     24
2015-01-26     25
2015-01-27     26
2015-01-28     27
2015-01-29     28
2015-01-30     29
             ...
2015-12-02    335
2015-12-03    336
2015-12-04    337
2015-12-05    338
2015-12-06    339
2015-12-07    340
2015-12-08    341
2015-12-09    342
2015-12-10    343
2015-12-11    344
2015-12-12    345
2015-12-13    346
2015-12-14    347
2015-12-15    348
2015-12-16    349
2015-12-17    350
2015-12-18    351
2015-12-19    352
2015-12-20    353
2015-12-21    354
2015-12-22    355
2015-12-23    356
2015-12-24    357
2015-12-25    358
2015-12-26    359
2015-12-27    360
2015-12-28    361
2015-12-29    362
2015-12-30    363
2015-12-31    364
Freq: D, Length: 365, dtype: int64

Q.4